<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam file="$(find fetch_simple_description)/config/fetch.yaml"
            command="load"/>

  <node name="robot_state_publisher_fetch" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
            <param name="publish_frequency" type="double" value="5.0" />
            <remap from="robot_description" to="fetch_robot_description" />
            <remap from="/joint_states" to="/fetch/joint_states" />
        </node>

  <!-- This is needed because controller manager needs the robot description parameter -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find fetch_simple_description)/robot/fetch.xacro'" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="--namespace=/fetch 
                              joint_state_controller
                              torso_lift_joint_position_controller
                              bellows_joint_position_controller
                              head_pan_joint_position_controller
                              head_tilt_joint_position_controller
                              shoulder_pan_joint_position_controller
                              shoulder_lift_joint_position_controller
                              upperarm_roll_joint_position_controller
                              elbow_flex_joint_position_controller
                              forearm_roll_joint_position_controller
                              wrist_flex_joint_position_controller
                              wrist_roll_joint_position_controller
                              r_gripper_finger_joint_position_controller
                              l_gripper_finger_joint_position_controller
                              --shutdown-timeout 3">
      <remap from="robot_description" to="fetch_robot_description" />
  </node>


    <node pkg="tf" type="static_transform_publisher" name="world_frames_connection" args="0 0 0 0 0 0 base_footprint base_link 100"/>


</launch>

<!--


-->