<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <include file="$(find spawn_robot_tools_pkg)/launch/spawn_robot_xacro_multiple.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0.0"/>
        <arg name="pitch" value="0.0"/>
        <arg name="yaw" value="0.0" />
        <arg name="xacro_robot_file" value="$(find fetch_simple_description)/robot/fetch.xacro" />
        <arg name="robot_name" value="fetch" />
    </include>
    
</launch>
